.faq-section {
    .ewd-ufaq-faq-title h4 {
        color: #7a7a7a;
        font-size: 15px!important;
    }
    .ewd-ufaq-faq-title .ewd-ufaq-post-margin-symbol span {
        color: #7a7a7a;
        font-size: 15px!important;
        margin-top: 5px!important;
    }
    p {
        color: #7a7a7a!important;
    }
    .ewd-ufaq-faq-div {
        border-bottom: 1px solid #000;
        margin: 10px 20px;
    }
    div.ewd-ufaq-faq-title div.ewd-ufaq-post-margin-symbol {
        float: right;
        margin-right: 0!important;
    }
    .ewd-ufaq-faq-title h1, .ewd-ufaq-faq-title h2, .ewd-ufaq-faq-title h3, .ewd-ufaq-faq-title h4, .ewd-ufaq-faq-title h5, .ewd-ufaq-faq-title h6 {
        padding-bottom: 10px!important;
    }
    .ewd-ufaq-faq-title h4 {
        font-size: 18px !important;
    }
    .ewd-ufaq-faq-body {
        padding: 10px!important;
    }
}
