.bg-light {
    background-color: #efefef!important;
}
.navbar {
    padding: 1.3rem 1rem;
    padding-left: 100px!important;
    padding-right: 100px!important;

    .site-logo {
        align-items: center;
        display: flex;
        padding: 10px 0;

        @media (min-width: 960px) {
            .site-logo {
                padding: 5px 0;
            }
        }

        @media (min-width: 576px) {
            .site-logo {
                padding: 10px 0;
            }
        }
        
        .brand {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .title-tagline-wrap {
                color: #ee7621;
                
                p {
                    margin: 0;
                    padding: 0;
                }
                .site-logo small {
                    width: 100%;
                    display: block;
                }
            }
            &:hover {
                text-decoration: none!important;
            }
        }
        
        .title-with-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 65px;
            
            div:first-child {
                margin-right: 10px;
            }
            img:first-child {
                margin-right: 10px;
            }
        }
        
        img {
            max-width: 120px;
            
            @media (min-width: 960px) {
                .site-logo img {
                    max-width: 132px;
                }
            }

            @media (min-width: 576px) {
                .site-logo img {
                    max-width: 120px;
                }
            }
        }
        
        h1, p {
            font-family: inherit;
            font-size: 1.50em;
            margin-bottom: 0;
            font-weight: 600;
        }
        .small, small {
            font-size: 90%;
        }
    }

    .custom-logo-link {
        float: left;
        padding: 0;
        position:relative; 
        left: -15px;

        img {
            max-height: 70px;
            width: auto;
            display: block;
            max-width: 220px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            position: absolute;
        } 

        @media only screen and (max-width:479px) {
            .custom-logo-link{

                img {
                    max-height: 70%;
                    width: auto;
                    display: block;
                    max-width: 105px;
                    position: absolute;
                }   
            }            
        }
    }

}



.nav-item {
    position: relative !important;
    margin: 0 12px;

    &:hover {
        .dropdown-menu {
            display: block;
        }
    }
}
.navbar-light {
    .navbar-toggler {
        color: rgba(255,255,255,1);
        border: none!important;

        @media (max-width: 1260px) {
            .navbar-toggle {
                border: none!important;
            }
        }
        @media only screen and (max-width:767px) {
            .navbar-toggle { 
                margin-right: 15px !important; 
            }
        }
        @media only screen and (max-width: 479px) {
            .navbar-toggle {
                margin-right: 10px !important;
            }
        }
    }
    .navbar-nav {
        .active {
            >.nav-link {
                color: #f6891f !important;
                border-bottom: solid 2px #f6891f !important;
            }
        }
        .nav-link.active {
            color: #f6891f !important;
            border-bottom: solid 2px #f6891f !important;
        }
        .nav-link.show {
            color: #f6891f !important;
            border-bottom: solid 2px #f6891f !important;
        }
        .show {
            >.nav-link {
                color: #f6891f !important;
                border-bottom: solid 2px #f6891f !important;
            }
        }
        .nav-link {
            color: #466071;
            letter-spacing: .1em;
            font-family: verdana,geneva,sans-serif;
            font-weight: 500;
            font-size: 20px;
            
            &:focus {
                color: #f6891f !important;
            }
            &:hover {
                color: #f6891f !important;
            }
        }
    }
}
.dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    border: 0 solid #ccc;
    margin-top: 0px;
    text-align: left;
    list-style: none;
    background: #ffffff;
    background-clip: padding-box;
    font-size: 20px;
    color: #466071;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 500;
    font-family: verdana,geneva,sans-serif;
    font-size: 18px;
    color: #466071;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    &:focus {
        color: #f6891f !important;
        text-decoration: none;
        background-color: transparent!important;
    }
    &:hover {
        color: #f6891f !important;
        text-decoration: none;
        background-color: #f8f9fa;
    }
    &:active {
        color: #fff;
        text-decoration: none;
        background-color: transparent!important;
    }
}
.dropdown-item.active {
    color: #fff;
    text-decoration: none;
}
.dropdown-toggle {    
    &:after {
        display: none;
    }    
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        .navbar-toggler {
            display: none;
        }
        .navbar-nav {
            .nav-link {
                padding-right: 1rem;
                padding-left: 1rem;

                &:first-child {

                }
            }
        }
    }
}


